<mat-toolbar color="primary">
  <span class="fill-remaining-space">Update Animal {{this.id}}</span>
</mat-toolbar>

<div class="container" >
  <form [formGroup]="formGroup" (ngSubmit)="onUpdateAnimal()" class="form" *ngIf="formGroup">

    <mat-form-field class="form-element">
      <input  matInput placeholder="Nom" formControlName="nom">
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Choose Espece</mat-label>
      <mat-select formControlName="espece">
        <mat-option *ngFor="let espece of especes" [value]="espece.id">
          {{espece.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="form-element">
      <mat-label>Sexe</mat-label>
      <mat-select formControlName="sexe">
        <mat-option *ngFor="let s of sexe" [value]="s.toString()">
          {{s.toString()}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Signe Distinctif" formControlName="signedistinctif">
    </mat-form-field>


    <mat-form-field class="form-element">
      <input matInput type="date" placeholder="Date Arrivee" formControlName="dateArrivee">
    </mat-form-field>


    <mat-form-field class="form-element">
      <input matInput type="date" placeholder="Date Départ" formControlName="dateDepart">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onUpdateAnimal()" type="submit" class="button" [disabled]="!formGroup.valid">Submit</button>

    <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>


  </form>
</div>
