<mat-toolbar color="primary">
  <span class="fill-remaining-space">Update Animal {{id}}</span>
</mat-toolbar>

<div class="container">
  <form [formGroup]="formGroup" class="form">
<!--
   <div class="item">
      <label>
        Id :
        <input type="text" formControlName="id" disabled>
      </label>
    </div>
    <div class="item">
      <label>
        Nom :
        <input type="text" formControlName="nom">
      </label>
    </div>
    <div class="item">
      <label>
        Sexe :
        <select formControlName="sexe">
          <option *ngFor="let sexe of sexe" [value]="sexe" >{{sexe.toString()}}</option>
        </select>
      </label>
    </div>
    <div class="item">
      <label>
        Espèce :
        <select formControlName="espece">
          <option *ngFor="let espece of especes" [value]="espece.id" >{{espece.nom}}</option>
        </select>
      </label>
    </div>
    <div class="item">
      <label>
        Signe distinctif :
        <input type="text" formControlName="signedistinctif">
      </label>
    </div>
    <div class="item">
      <label>
        Date d'arrivée :
        <input type="date" formControlName="dateArrivee">
      </label>
    </div>
    <div class="item">
      <label>
        Date départ :
        <input type="date" formControlName="dateDepart">
      </label>
    </div>
    <div class="button">
      <button (click)="onUpdateAnimal()" type="submit" class="button" [disabled]="!formGroup.valid">Changer</button>

    </div>
    -->
    <mat-form-field class="form-element">
      <mat-label>Choose Espece</mat-label>
      <mat-select formControlName="espece">
        <mat-option *ngFor="let espece of especes" [value]="espece.id">
          {{espece.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="form-element">
      <mat-label>Sexe</mat-label>
      <mat-select formControlName="sexe">
        <mat-option *ngFor="let s of sexe" [value]="s.toString()">
          {{s.toString()}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Signe Distinctif" formControlName="signedistinctif">
    </mat-form-field>


    <mat-form-field class="form-element">
      <input matInput type="date" placeholder="Date Arrivee" formControlName="dateArrivee">
    </mat-form-field>


    <mat-form-field class="form-element">
      <input matInput type="date" placeholder="Date Départ" formControlName="dateDepart">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onUpdateAnimal()" type="submit" class="button" [disabled]="!formGroup.valid">Submit</button>

    <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>

  </form>
</div>
