<td>{{secteur.nom}}</td>
<td>{{secteur.localisation}}</td>
<td>{{secteur.bassinList.length}}</td>
<td>
  <mat-label>Choose Bassin</mat-label>
  <mat-select>
    <mat-option *ngFor="let bassin of listBassin" [value]="bassin.id" (onSelectionChange)="onAddBassin(secteur.id,bassin.id)">
      {{bassin.numBassin}}
    </mat-option>
  </mat-select>
</td>
<td>
  <a mat-mini-fab (click)="onDeleteSecteur(secteur.id)" ><mat-icon> delete</mat-icon>
  </a>
  <a mat-mini-fab routerLink="update/{{secteur.id}}"><mat-icon> create</mat-icon>

  </a>
</td>
