<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="isSimpleEmpoye"><a mat-list-item  routerLink="/">Accueil</a></div>
      <div *ngIf="isResponsableBassin"><a mat-list-item routerLink="/espece">Gestion Especes</a></div>
      <div *ngIf="isResponsableBassin"><a mat-list-item  routerLink="/animal">Gestion Animal</a></div>
      <div *ngIf="isResponsableBassin || isGestionnaire"><a mat-list-item routerLink="/bassin/{{role}}">Gestion Bassin</a></div>
      <div *ngIf="isGestionnaire ||isResponsableBassin"><a mat-list-item routerLink="/employe">Gestion Employe</a></div>
      <div *ngIf="isGestionnaire"><a mat-list-item routerLink="/gestionNouriture">Gestion Nouriture</a></div>
      <div *ngIf="isResponsableBassin"><a mat-list-item routerLink="/activity">Activity</a></div>
      <div *ngIf="isSimpleEmpoye"><a mat-list-item routerLink="/planning">Consulter Emploi du temps</a></div>



    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="blue">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img
        width="50"
        alt="Logo"
        src="../assets/fish_13458.ico"
      />
      <span class="span" >
        <a routerLink="/profil">{{prenom}}</a><a routerLink="/profil">{{nom}}</a>
      </span>
      <br>
      <span class="disconnect">
        <a (click)="desconnect()"><img width="75%" src="assets/img/logout.png" alt="logout" /></a>
      </span>
    </mat-toolbar>

      <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
