
<mat-toolbar color="primary">
  <a mat-fab routerLink="/animal/edit"><mat-icon> add</mat-icon></a>
  <span class="fill-remaining-space">Animaux</span>
</mat-toolbar>

<mat-card class="card">

    <table border="true">
        <tr>
          <th class="mat-cell">Nom</th>
          <th class="mat-cell">Sexe</th>
          <th class="mat-cell">Espece</th>
          <th class="mat-cell">Date Arrivee</th>
          <th class="mat-cell">Date Depart</th>
          <th class="mat-cell">Signe Distinctif</th>
        </tr>
      <tbody *ngIf="listAnimaux">


      <tr *ngFor="let animal of listAnimaux;" [animal]="animal" (deleteAnimal)="refresh($event)"></tr>

      </tbody>
    </table>
</mat-card>
