<p>animal works!</p>
<div class="container">
  <div class="mat-expansion-panel-content">
    <div class="header-panel">List des Animaux</div>
  </div>
  <div class="mat-body">
    <Button class="mat-button" (click)="onGetanimaux()">Afficher</Button>
  </div>
  <div class="mat-body">
    <table *ngIf="animaux" class="mat-table">
      <tr>
        <th>Nom</th><th>Sexe</th><th>Espèce</th>
      </tr>
      <tr *ngFor="let animal of animaux">
        <td class="table-row-cell">{{animal.nom}}</td>
        <td class="table-row-cell">{{animal.sexe}}</td>
        <td class="table-row-cell">{{animal.espece.menacee}}</td>
      </tr>
    </table>
  </div>
</div>
