
<mat-toolbar color="primary">
</mat-toolbar>
<div *ngIf="listSecteurs">
<div *ngFor="let secteur of listSecteurs;">
  <mat-card class="card" >
    <p>Secteur:{{secteur.nom}}</p>
    <p>Localisation:{{secteur.localisation}}</p>
    <p>Nombres Bassins:{{secteur.bassinList.length}}</p>
    <p>Nombres Animaux:{{getNombreAnimaux(secteur.bassinList)}}</p>
    <p > <a routerLink="/BassinsVisit/{{secteur.id}}">Voir les Bassins </a>
    <p > <a routerLink="/animauxVisit/{{secteur.id}}">Voir les animaux </a>

    </p>
  </mat-card>
  <br>
</div>
</div>

