<mat-toolbar color="primary">
  <span class="fill-remaining-space">Upadate Activity {{id}}</span>
</mat-toolbar>
<mat-card>

  <div class="container" >
    <form [formGroup]="formGroup" class="form" *ngIf="formGroup">
      <mat-form-field class="form-element">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let t of type" [value]="t.toString()">
            {{t.toString()}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Choose Bassin</mat-label>
        <mat-select formControlName="bassin">
          <mat-option *ngFor="let bassin of bassins" [value]="bassin.id">
            {{bassin.numBassin}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input  matInput type="date" placeholder="Date Debut" formControlName="dateDebut">
      </mat-form-field>

      <mat-form-field class="form-element">
        <input  matInput type="time" placeholder="Heure Debut" formControlName="heureDebut">
      </mat-form-field>

      <mat-form-field class="form-element">
        <input  matInput type="time" placeholder="Heure fin" formControlName="heureFin">
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Accessibilité</mat-label>
        <mat-select formControlName="accessible">
          <mat-option [value]="false">
            Privée
          </mat-option>
          <mat-option [value]="true">
            public
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
        <button mat-raised-button color="primary" (click)="affecterEmploye(id)">Affecter Responsable</button>

      <table class="center-table" border="true" >
        <tr >
          <th class="mat-cell">Nom</th>
          <th class="mat-cell">Prénom</th>
          <th class="mat-cell">Role</th>
        </tr>
        <tbody *ngIf="listResponsables">

        <tr *ngFor="let responsable of listResponsables;" (deleteResponsableInActivity)="deleteEmployeActivity($event)" [responsableActivity]="responsable" >
        </tr>
        </tbody>
      </table>

      <button mat-raised-button color="primary" type="submit" (click)="onUpdateActivity()" [disabled]="!formGroup.valid" >
        Submit</button>


    </form>
  </div>

</mat-card>
