<h1 mat-dialog-title>Choose Responsable</h1>

<div mat-dialog-content>
  <form [formGroup]="formGroup" *ngIf="formGroup" class="form">

  <mat-form-field class="form-element">
    <mat-select formControlName="employe">
        <mat-option *ngFor="let employe of data" [value]="employe.id">
          {{employe.nom +"/"+employe.prenom}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="doAction()" cdkFocusInitial>Ok</button>
  </form>
</div>
