.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 160px;
  background-image: url("assets/img/background3.jpg");;
  background-size: 200% 100% ;
  background-position: right;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-card{
  background: grey;

}
.mat-card-cvr{
  width: 100%;
  text-align:center;
}
.card{
  margin: 0 auto;
  width: 40%;
}

.main-div{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-toolbar .span{
  display: inline-block;
  position: absolute;
  color: white;
  text-decoration: none;
  right: 7%;
}
mat-toolbar .disconnect{
  display: inline-block;
  position: absolute;
  right : 0;
  color: white;
  text-decoration: none;
}
div.home{
  min-height: 100vh;
  text-align: center;
  font-size: 75px;
  background-image: url("assets/img/home2.jpg");
  background-size: 100% 100%;
  vertical-align:middle;
}
