<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="isVisiteur"><a mat-list-item routerLink="/secteurVisit">Secteur</a></div>
      <div *ngIf="isVisiteur"><a mat-list-item  routerLink="/especeVisiteur">Espèces</a></div>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="blue">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img
        width="50"
        alt="Logo"
        src="../assets/fish_13458.ico"
      />
      <br>
      <span class="disconnect">
        <a (click)="desconnect()"><img width="75%" src="assets/img/logout.png" alt="logout" /></a>
      </span>
      <div class="home" *ngIf="route.url== '/'">
        Bienvenu
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
