
    <mat-toolbar color="primary">
      <a mat-fab routerLink="/espece/edit"><mat-icon> add</mat-icon></a>
      <span class="fill-remaining-space">Especes</span>

    </mat-toolbar>

<mat-card class="card">
  <table border="true" >
    <tr >
      <th class="mat-cell">Nom</th>
      <th class="mat-cell">Esperance Vie</th>
      <th class="mat-cell">Regime Alimentaire</th>
      <th class="mat-cell">Menacee</th>
    </tr>
    <tbody *ngIf="listEspeces">

    <tr *ngFor="let espece of listEspeces">
      <td>{{espece.nom}}</td>
      <td>{{espece.esperanceVie}}</td>
      <td>{{espece.regimeAlimentaire}}</td>
      <td>{{espece.menacee}}</td>
      <td>
        <a mat-mini-fab (click)="onDeleteEspece(espece.id)" ><mat-icon> delete</mat-icon>
        </a>
        <a mat-mini-fab (click)="onUpdateEspece(espece)"><mat-icon> create</mat-icon>

        </a>
      </td>
    </tr>
    </tbody>
  </table>
</mat-card>
