    <mat-toolbar color="primary">
      <span class="fill-remaining-space">Add new Animal</span>
    </mat-toolbar>

    <div class="container" >
      <form [formGroup]="formGroup" (ngSubmit)="onCreateAnimal()" class="form">

            <mat-form-field class="form-element">
              <mat-label>Choose Espece</mat-label>
              <mat-select formControlName="espece">
                <mat-option *ngFor="let espece of especes" [value]="espece.id">
                  {{espece.menacee}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-element">
            <input  matInput placeholder="Name"
                    formControlName="name">
            </mat-form-field>


            <mat-form-field class="form-element">
              <input matInput placeholder="Sexe"
                     formControlName="sexe">
            </mat-form-field>

            <mat-form-field class="form-element">
            <input matInput placeholder="Signe Distinctif"
                   formControlName="signe">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit</button>

            <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>

    </form>
    </div>
