.field{
  background-color: white;
}
.mat-card-cvr{
  width: 100%;

  align-items: center;
}
.color{
  color: darkolivegreen;
}
.logo{
  text-align: right;
}
.card{
  text-align:center;
  margin: 0 auto;
  width: 15%;
  display:flex;
  background-color: cadetblue;
}
a:hover{
  color: white;
}

div.bodyPage{
  background-color:cadetblue;
  position: absolute;;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}

