

<div *ngIf="listAnimaux">
  <div *ngFor="let animal of listAnimaux;">
    <mat-card class="card" >
      <p>Animal :{{animal.nom}}</p>
      <p>Espece:{{animal.espece}}</p>
      <p>Sexe:{{animal.sexe}}</p>
      <p>Signe Distinctif:{{animal.signedistinctif}}</p>
      <p>Date D'arrivée:{{animal.dateArrivee}}</p>
      <p>Date Prévu de départ:{{animal.dateDepart}}</p>
    </mat-card>
    <br>
  </div>
  <a mat-fab routerLink="/especeVisiteur"><mat-icon>assignment_return</mat-icon></a>
</div>

