<mat-toolbar color="primary">
  <span class="fill-remaining-space">Update Calendrier {{this.id}}</span>
</mat-toolbar>

<div class="container" >
  <form [formGroup]="formGroup" (ngSubmit)="onUpdateCalendrier()" class="form" *ngIf="formGroup">

    <mat-form-field class="form-element">
      <mat-label>Choose Employe</mat-label>
      <mat-select formControlName="employe">
        <mat-option *ngFor="let e of employes " [value]="e.id">
          {{e.nom}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <td>
      <button mat-raised-button color="primary" (click)="affectActivity(id)">Affecter Activity</button>
    </td>
    <table border="true" >
      <tr >
        <th class="mat-cell">Type</th>
        <th class="mat-cell">date Debut</th>
        <th class="mat-cell">date Fin</th>
        <th class="mat-cell">IsPublic</th>
      </tr>
      <tbody *ngIf="listActivities">

      <tr *ngFor="let activity of listActivities;" (deleteActivityInCalendrier)="deleteActivityCalendrier($event)" [activityCalendrier]="activity" >
      </tr>
      </tbody>
    </table>

    <button mat-raised-button color="primary" (click)="onUpdateCalendrier()" type="submit" class="button" [disabled]="!formGroup.valid" routerLink="/calendrier/{{idEmployeConnecter}}">Submit</button>

  </form>
</div>
