
<form [formGroup]="formGroup" *ngIf="formGroup">

  <div class="item">
    <label>
      Année :
      <select formControlName="annee">
        <option *ngFor="let annee of annees" [value]="annee" >{{annee}}</option>
      </select>
    </label>
  </div>
  <div class="item">
    <label>
      Semaine :
      <select formControlName="semaine">
        <option *ngFor="let semaine of semaines" [value]="semaine" >{{getBeginWeek(semaine, formGroup.get('annee').value)}} - {{getEndWeek(getBeginWeek(semaine, formGroup.get('annee').value), semaine, formGroup.get('annee').value)}}</option>
      </select>
    </label>
  </div>

  <div class="button">
    <button (click)="onSubmit()" type="submit" class="button" [disabled]="!formGroup.valid">Recherche</button>
  </div>
</form>
