
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 90px;
  width: 80%;
}

.form {
  min-width: 50%;
  max-width: 100%;
}
.form-element {
  padding: 10px 5px 15px 2px;
  width: 30%;
}

.button {
  width: 100%;
}
.card{
  text-align:left;
  font-size: 100%;
  font-family: cursive;
  background-image: url("../../assets/img/calendar.jpg");
  background-repeat: no-repeat;
  background-size: 120% 140%;
  background-position: center;
}

div.test {
  list-style: none;
  display: block;
  float: left;
  width: 20%;
  background-color:rosybrown;
  margin-left: 20px;
  margin-top: 20px;
}
p.colorHeure{
  color: red;
}
