<mat-toolbar color="primary">
  <span class="fill-remaining-space">Calendrier</span>
</mat-toolbar>
<form [formGroup]="formGroup" *ngIf="formGroup">
  <mat-form-field class="form-element">
    <mat-label>      Année :</mat-label>
    <mat-select formControlName="annee">
      <mat-option *ngFor="let annee of annees" [value]="annee" >
        {{annee}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-element">
    <mat-label>      Semaine :</mat-label>
    <mat-select formControlName="semaine">
      <mat-option *ngFor="let semaine of semaines" [value]="semaine" >
        {{getBeginWeek(semaine, formGroup.get('annee').value) |date}} /
        {{getEndWeek(getBeginWeek(semaine, formGroup.get('annee').value), semaine, formGroup.get('annee').value) |date}}
      </mat-option>
    </mat-select>
  </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit" [disabled]="!formGroup.valid">Rechercher</button>
</form>
<div *ngIf="activities">
  <div class="test" *ngFor="let activity of activities;">
      <mat-card class="card" >
        <p><b>{{activity.type}}</b></p>
        <p><b>Bassin N:{{activity.bassin.numBassin}}</b></p>
        <p>Le  :{{activity.dateDebut |date}}</p>
        <p class="colorHeure">De :{{activity.dateDebut| date:'shortTime'}}</p>
        <p class="colorHeure">à  :{{activity.dateFin |date:'shortTime'}}</p>
        <p *ngIf="isResponsable &&activity.responsables">
          <b>les Responsables sont : </b>
          <span>{{afficherResponsable(activity.responsables)}}</span>
        </p>

      </mat-card>
    </div>
</div>
