
<mat-toolbar color="primary">
  <div *ngIf="isResponsable"><a mat-fab routerLink="/calendrier/{{role}}/edit"><mat-icon> add</mat-icon></a></div>
  <span class="fill-remaining-space">Calendrier</span>

</mat-toolbar>

<mat-card class="card">
  <table border="true" >
    <tr >
      <th class="mat-cell">Employe</th>
      <th class="mat-cell">Date</th>
      <th class="mat-cell">List Activity</th>

    </tr>
    <tbody *ngIf="listCalendrier">

    <tr *ngFor="let c of listCalendrier;" [calendrier]="c"  [role]="role"  (deleteCalendrier)="refresh($event)">
    </tr>
    </tbody>
  </table>
</mat-card>
