
<mat-toolbar color="primary">
  <a mat-fab routerLink="/bassin/{{role}}/edit"><mat-icon> add</mat-icon></a>
  <span class="fill-remaining-space">Bassin</span>

</mat-toolbar>

<mat-card class="card">
  <table border="true" >
    <tr >
      <th class="mat-cell">Numéro Bassin</th>
      <th class="mat-cell">Capacite Max</th>
      <th class="mat-cell">Volume Eau</th>
      <th class="mat-cell">Etat</th>
      <th class="mat-cell">Especes</th>
      <th class="mat-cell">Nombres Animaux</th>
      <th class="mat-cell">List Activity</th>

    </tr>
    <tbody *ngIf="listBassin">

    <tr *ngFor="let bassin of listBassin;" [bassin]="bassin"  [role]="role"  (deleteBassin)="refresh($event)">
    </tr>
    </tbody>
  </table>
</mat-card>
